@charset "UTF-8";
/*
     em html é id = em css é #
     em html é class = em css é .
*/

body
{
    background-color: rgb(205, 255, 203);
    font-family:Arial, Helvetica, sans-serif;
}
h1
{
    color: rgb(4, 109, 0);
    text-align: center;
}
h1#principal
{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: whitesmoke;
}
h2
{
    color: rgb(73, 109, 71);
}
.basico
{
    color:rgb(73, 109, 71);
    text-align: center;
}
.intermediario
{
    color: rgb(100, 100, 12);
    text-align: center;
}
.avancado
{
    color: tomato;
    text-align: center;
}
.destaque
{
    background-color: yellow;
}
p{
    text-align: center;
}